body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);
}
nav{
    height: 10%;
}
#imgSecretaire{
    min-height: 60vh;
    object-fit: cover;
}

#Feature1 > div > div > div > img {
    height: 70px;
    width: auto;
}
@media screen and (min-width: 768px) {
    .test{
        background-color: transparent !important;
    }
}
