body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);
}
nav{
    height: 10%;
}
#titleWebSite{
    font-size: 32px;
}
#ulNavTop > li > a{
    font-size: 14px;
    color: #737373;
}
#h2Header{
    font-size: 40px;
    color: #252B42;
}
#imgSecretaire{
    min-height: 60vh;
    object-fit: cover;
}
#pSizeChangeHeader{
    font-size: 20px;
    color: #737373;
}
#textHeader > div > a:nth-child(1) {
    background-color: #00A0C1;
    font-size: 14px;
}
#textHeader > div > a:nth-child(1):hover {
    background-color: transparent;
    border: solid 1px #00A0C1 !important;
    color: #00A0C1 !important;
}
#textHeader > div > a:nth-child(2) {
    border: solid 1px #00A0C1;
    color: #00A0C1;
    font-size: 14px;
}
#textHeader > div > a:nth-child(2):hover {
    border: solid 1px transparent;
    color: white !important;
    background-color: #00A0C1;

}
#Feature1 > div > div > div > img {
    height: 70px;
    width: auto;
}
#Feature2{
    min-height: 60vh;
}
#play{
    width: 25px;
    height: 25px;
}
.bg-16697A{
    background-color: #16697A;
}
.bg-252B42{
    background-color: #252B42;
}
@media screen and (min-width: 768px) {
    .test{
        background-color: transparent !important;
    }
    #Clients{
        background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(37,43,66,1) 70%, rgba(37,43,66,1) 100%);
    }
    #imgSecretaire{
        transform: translateX(25%);
    }
    #h2Header{
        font-size: 58px;
    }
}